.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-size: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: 100%;
}
