.character-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-right: 10%;
}

@media (min-width: 1440px) {
  .character-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
}
