@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("../public/assets/background-blue-sky.jpeg");
  font-family: "Inder";
}

ul,
li {
  list-style: none;
}

@media (min-width: 1440px) {
  body {
    background-size: cover;
  }
}
